@import "../../styles/variables.scss";
.card {
  min-height: 180px;
  max-width: 100%;
  border: 1px solid rgba(224, 224, 224, 1);
  border-radius: 5px;
  display: flex;
  cursor: pointer;
  margin: 10px;

  &:hover {
    color: black;
    border: none;
  }

  @media (max-width: $mobile) {
    width: 90vw;
    margin: auto;
  }

  img {
    height: 150px;
    width: 150px;
    margin: 10px;
  }

  .details {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 140px;
    margin: 10px;
    margin-top: 20px;
  }

  .placeContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;

    .cityName {
      font-family: "Inter";
      font-weight: 800;
      font-size: 31px;
    }

    .country {
      font-family: "Inter";
      font-weight: 300;
      font-size: 16px;
    }
  }

  .delete {
    border: none;
    background: url("../../assets/delete.svg");
    height: 32px;
    width: 32px;
    cursor: pointer;
    align-self: flex-end;
    margin-bottom: 10px;

    &:hover {
      fill: black;
    }
  }
}
