.card {
  min-height: 350px;
  width: 300px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: rgb(235, 237, 239);
  cursor: pointer;

  img {
    width: 298px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 150px;
  }

  .details {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 140px;
    margin: 10px;
    margin-top: 40px;
    align-items: center;
  }

  .placeContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;

    .cityName {
      font-size: x-large;
    }
  }

  .delete {
    background-color: rgb(228, 47, 47);
    color: white;
    border: none;
    border-radius: 5px;
    height: 40px;
    font-size: 1rem;
    width: 80%;
    margin: auto;
  }
}
